@font-face {
    font-family: 'aventura';
    src: url(KaushanScript-Regular.otf) format(opentype)}


body {
        font-family: Arial, Helvetica, sans-serif;
    }

header {
    background-color: rgb(211, 206, 206);
    padding: 40px;

}

.imgh1 {
    padding: 3px;
    
}

h1 {
    text-align: center;
}